body {
    margin: 0;
    padding: 0;
}

.container {
    height: 2000px;
    width: 75%;
    margin: 0 auto;
    border: 5px solid lightgrey;
    padding: 0 60px;
    font-family: Tahoma, sans-serif;
}

.title {
    text-align: center;
    font-size: 56px;
    padding: 20px 0;
}

.text {
    font-size: 26px;
}

::-webkit-scrollbar {
    width: 30px;
}

::-webkit-scrollbar-track {
    background-color: lightgrey;;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgba(232,232,232,1) 0%,rgba(213,119,239,1) 24%,rgba(198,9,183,1) 50%,rgba(213,119,239,1) 79%,rgba(232,232,232,1) 100%);
    border-radius: 15px;
}